Repository zealic/image-builder: changes, and which GitLab CI jobs are due for each by the changed paths.
All: builder-debian, distro-debian, builder-openwrt, distro-openwrt

.gitlab-ci.yml:

include:
  - remote: https://arp.to/@ci/docker.yml


stages:
  - build


builder-debian:
  stage: build
  rules:
    - changes:
        - distro/debian/Dockerfile
      when: always
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: always
    - when: manual
  script:
    - make debian:builder
    - make debian:builder-push

distro-debian:
  stage: build
  tags:
    - nbd
  rules:
    - changes:
        - distro/debian/**/*
      when: always
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: always
    - when: manual
  script:
    - make debian:build
    - make debian:artifacts
    - make debian:artifacts-upload

builder-openwrt:
  stage: build
  rules:
    - changes:
        - distro/openwrt/Dockerfile
      when: always
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: always
    - when: manual
  script:
    - make openwrt:builder
    - make openwrt:builder-push

distro-openwrt:
  stage: build
  tags:
    - nbd
  rules:
    - changes:
        - distro/openwrt/**/*
      when: always
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: always
    - when: manual
  script:
    - make openwrt:build
    - make openwrt:artifacts
    - make openwrt:artifacts-upload

chore: Fix no editions.
  templates/generate.sh
Due: none

build: Pass environment to scripts.
  Makefile
  common/common-env.sh
  distro/debian/@edition/gce/00_configure_sources-list.sh
  distro/debian/@edition/kubernetes/00_kubernetes.sh
  distro/debian/Dockerfile
  distro/debian/bootstrap/00_debootstrap.sh
  distro/debian/config/00_sources-list.sh
  distro/debian/software/10_docker.sh
  distro/openwrt/bootstrap/00_debootstrap.sh
  templates/Makefile.mk
  templates/compose.yml
  templates/generate.sh
Due: builder-debian, distro-debian, distro-openwrt

build: Move artifacts to build.
  .github/workflows/build-centos.yml
  .github/workflows/build-debian.yml
  .github/workflows/build-openwrt.yml
  .gitignore
  Makefile
  common/artifact-ova.sh
  common/artifact-vmdk.sh
  templates/generate.sh
Due: none

chore: Missing centos version.
  templates/generate.sh
Due: none

build: "-cn" suffix.
  templates/compose.yml
  templates/generate.sh
Due: none

build: "-cn" suffix.
  templates/compose.yml
Due: none

build: Missing mirror.
  distro/openwrt/software/00_transport.sh
Due: distro-openwrt

feat: [openwrt] Docker edition with NFS support.
  distro/openwrt/@edition/docker/docker.sh
Due: distro-openwrt

fix: Fix docker-compose url.
  distro/debian/software/10_docker.sh
Due: distro-debian

feat: [debian] btrfs and docker in cn.
  distro/debian/config/05_filesystem.sh
  distro/debian/software/10_docker.sh
Due: distro-debian

fix: [debian] fix docker-compose url.
  distro/debian/software/10_docker.sh
Due: distro-debian

improve: [debian] default use static ip.
  distro/debian/config/02_network.sh
Due: distro-debian

fix: Fix docker config.
  distro/debian/config/04_sysctl.sh
  distro/debian/software/10_docker.sh
  distro/openwrt/@edition/docker/docker.sh
Due: distro-debian, distro-openwrt

fix: [debian] docker mirror ustc only.
  distro/debian/software/10_docker.sh
Due: distro-debian

feat: Added builder-pull task.
  templates/Makefile.mk
Due: none

improve: Artifacts with date version.
  templates/compose.yml
Due: none

chore: Remove departed centos distro.
  distro/centos/Dockerfile
  distro/centos/bootstrap-grub/01_grub-config.sh
  distro/centos/bootstrap-grub/02_configure.sh
  distro/centos/bootstrap-grub/@metadata.yml
  distro/centos/bootstrap/00_debootstrap.sh
  distro/centos/bootstrap/@metadata.yml
  distro/centos/config/00_source-list.sh
  distro/centos/config/01_core.sh
  distro/centos/config/@metadata.yml
  templates/generate.sh
Due: none

chore: Bump version debian->12, openwrt->23.05.3
  templates/generate.sh
Due: none

chore: Update builder version.
  distro/debian/Dockerfile
  distro/openwrt/Dockerfile
Due: builder-debian, distro-debian, builder-openwrt, distro-openwrt

chore: Remove centos builder.
  .github/workflows/build-centos.yml
  .github/workflows/builder-centos.yml
Due: none

fix: Fix ovftool url.
  distro/debian/Dockerfile
  distro/openwrt/Dockerfile
Due: builder-debian, distro-debian, builder-openwrt, distro-openwrt

fix: Fix openwrt-builder.
  distro/openwrt/Dockerfile
Due: builder-openwrt, distro-openwrt

fix: Fix qemu 6.1 issue ,see https://superuser.com/questions/1765665 and https://github.com/GNS3/gns3-server/issues/1964
  common/pipeline.sh
Due: none

refactor: Improve bootstrap workflow for debian 12.
  distro/debian/bootstrap/00_debootstrap.sh
  distro/debian/bootstrap/03_apt.sh
  distro/debian/bootstrap/04_kernel.sh
  distro/debian/config/00_base.sh
  distro/debian/config/00_sources-list.sh
  distro/debian/software/00_base.sh
  distro/debian/software/00_transport.sh
Due: distro-debian

chore: Bump docker to 26.1 for debian.
  distro/debian/bootstrap/03_apt.sh
  distro/debian/software/10_docker.sh
Due: distro-debian

chore: Bump workflow actions to latest version.
  .github/workflows/build-debian.yml
  .github/workflows/build-openwrt.yml
  .github/workflows/builder-debian.yml
  .github/workflows/builder-openwrt.yml
Due: none

fix: Fix docker-compose issue, cli-plugins on ubuntu latest version, see: https://github.com/actions/runner-images/issues/9692
  distro/debian/software/10_docker.sh
  templates/Makefile.mk
Due: distro-debian

improve: Normalize docker-compose-plugin.
  distro/debian/software/10_docker.sh
Due: distro-debian
